body {
    background-image: url(https://ulala.com.pl/img-preview/aHR0cHM6Ly91bGFsYS5jb20ucGwvaW1nL3dsYXNuZV9mb3RvL2Fkb2Jlc3RvY2tfd2Y3Nzhfd3ljenlzemN6b25lX2FydF9zY2FsZV8yXzAweF9naWdhcGl4ZWxfNjA2MS5qcGc=?&w=254&h=362&e=none&f=none&r=0);
    background-size: cover;
}

.g {
    border: 5px solid magenta;
    border-radius: 10px;
    text-align: center;
    background-size: cover;
    margin: 0 auto;
    width: 1200px;
    height: 200px;
}

.text {
    color: white;
    font-size: 30px;
    text-align: center;
}

.btext {
    color: white;
    font-size: 50px;
}

.gg {
    border: 5px solid blue;
    border-radius: 10px;
    text-align: center;
    background-size: cover;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    box-shadow: red;
    color: white;
    font-size: 30px;
}
